<!DOCTYPE html>
<html lang="en">
<head>
  <title>KAWSAR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="/static/assets/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo">
    <img src="/static/assets/img/logo.png" alt="ops!">
  </a>
  <p class="device-notification--message">I request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="" alt="">
            <p></p>
          </a>
          <button class="header--cta cta">Hire Me</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Works</span></li>
            <li><span>About</span></li>
            <li><span>Contact</span></li>
            <li><span>Hire Me</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <h1></h1>
              <div class="intro--banner">
                <h2>Hey, this is Kawsar</h2>
                <h1>Django<br>Backend<br>Developer </h1>
                <button class="cta">Hire Me
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="/static/assets/img/introduction-visual.png" alt="Welcome">
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Previous work</h2>
              <div class="work--lockup">
                <ul class="slider">
                  {% for work in works %}
                  <li class="slider--item slider--item-left">
                    <a href="{{ work.website }}">
                      <div class="slider--item-image">
                        <img src="{{ work.picture.url }}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">{{ work.name }}</p>
                      <p class="slider--item-description">{{ work.description }}</p>
                    </a>
                  </li>
                {% endfor %}
                  <li class="slider--item slider--item-center">
                      <div class="slider--item-image">
                        <img src="/static/assets/img/work-metiew-smith.jpg" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">KAWSAR</p>
                  </li>
                {% for work in works %}
                  <li class="slider--item slider--item-right">
                    <a href="{{ work.website }}">
                      <div class="slider--item-image">
                        <img src="{{ work.picture.url }}" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">{{ work.name }}</p>
                      <p class="slider--item-description">{{ work.description }}</p>
                    </a>
                  </li>
                {% endfor %}
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>I<br>believe in<br>passionate<br>people</h2>
                <a href="about">About Me
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                </a>
                <img src="/static/assets/img/about-visual.png" alt="About Us">
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Mirpur 01, Dhaka, Bangladesh.</p>
                    <a href="mailto:oyalid.din.kawsar@gmail.com">oyalid.din.kawsar@gmail.com</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="https://www.facebook.com/profile.php?id=100014593005199">Facebook</a></li>
                    <li><a href="https://wa.me/qr/TJOE2LU624QLI1">whatsApp</a></li>
                    <li><a href="tel:+8801521759396">Contact Me</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>You want me to do</h2>
              <!-- Form setup -->
              <form method="POST" class="work-request">  <!-- Keep one form -->
                {% csrf_token %}
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" name="services[]" value="app design">
                    <label for="opt-1">
                      <!-- SVG content here -->
                      App Design
                    </label>
          
                    <input id="opt-2" type="checkbox" name="services[]" value="graphic design">
                    <label for="opt-2">
                      <!-- SVG content here -->
                      Graphic Design
                    </label>
          
                    <input id="opt-3" type="checkbox" name="services[]" value="motion design">
                    <label for="opt-3">
                      <!-- SVG content here -->
                      Motion Design
                    </label>
                  </span>
          
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" name="services[]" value="ux design">
                    <label for="opt-4">
                      <!-- SVG content here -->
                      UX Design
                    </label>
          
                    <input id="opt-5" type="checkbox" name="services[]" value="webdesign">
                    <label for="opt-5">
                      <!-- SVG content here -->
                      Webdesign
                    </label>
          
                    <input id="opt-6" type="checkbox" name="services[]" value="marketing">
                    <label for="opt-6">
                      <!-- SVG content here -->
                      Marketing
                    </label>
                  </span>
                </div>
          
                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" name="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
          
                  <div class="information-email">
                    <input id="phone" name="phone" type="text" spellcheck="false">
                    <label for="phone">Phone No:</label>
                  </div>
                </div>
                <input type="submit" value="Send Request">
              </form>
          
              <!-- Display messages -->
              <script>
                {% if messages %}
                  {% for message in messages %}
                    Swal.fire({
                      icon: "{% if message.tags == 'success' %}success{% else %}error{% endif %}",
                      title: "{% if message.tags == 'success' %}Success{% else %}Error{% endif %}",
                      text: "{{ message }}",
                      showConfirmButton: false,
                      timer: 3000
                    });
                  {% endfor %}
                {% endif %}
              </script>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
          

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="/static/assets/js/functions-min.js"></script>
</body>
</html>
